{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize %}

{% block title %}{{ listing.name}} | Mogul{% endblock %}

{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
				<div class="property-title">
					<h2>{{listing.name}} <span class="property-badge">{{listing.status|title}}</span></h2>
					<span>
						<a href="#location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							{{listing.address}}, {{listing.town}}
						</a>
					</span>
				</div>

				<div class="property-pricing">
					<div>₦{{listing.price|floatformat:"0"|intcomma}}</div>
				</div>


			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Slider -->
<div class="fullwidth-property-slider margin-bottom-50">
	{% for item in listing.listingimages %}
	<a href="{{item.image}}" data-background-image="{{item.image}}" class="item mfp-gallery"></a>
	{% endfor %}
</div>

<div class="container">
	<div class="row">

		<!-- Property Description -->
		<div class="col-lg-8 col-md-7 margin-bottom-100">
			<div class="property-description">

				<!-- Main Features -->
				<ul class="property-main-features">
					<li>Rooms <span>{{"123"|random}}</span></li>
					<li>Bedrooms <span>{{listing.bedroom}}</span></li>
					<li>Bathrooms
						<span>
						{% if listing.bedroom >= 3 %}
							{{ "345"|random }}
						{% elif listing.bedroom <= 2 %}
							{{ "12"|random }}
						{% endif %}
						</span>
					</li>
				</ul>

				<!-- Description -->
				<h3 class="desc-headline">Description</h3>
				<div class="show-more">
					<p>{{listing.description}}</p>

					<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
				</div>

				<!-- Features -->
				<h3 class="desc-headline">Features</h3>
				<ul class="property-features checkboxes margin-top-0">
					{% for feature in listing.features %}
					<li>{{feature}}</li>
					{% endfor %}
				</ul>

			</div>
		</div>
		<!-- Property Description / End -->


		<!-- Sidebar -->
		<div class="col-lg-4 col-md-5">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-30">
					<button class="widget-button"><i class="sl sl-icon-printer"></i> Print</button>
					<button class="widget-button save" data-save-title="Save" data-saved-title="Saved"><span class="like-icon"></span></button>
				</div>
				<!-- Widget / End -->


				<!-- Widget -->
				<div class="widget">

					<!-- Agent Widget -->
					<div class="agent-widget">
						<div class="agent-title">
							<div class="agent-photo"><img src="{% static 'images/agent-avatar.jpg' %}" alt="" /></div>
							<div class="agent-details">
								<h4><a href="#">{{listing.added_by_user}}</a></h4>
								<span><i class="sl sl-icon-call-in"></i>(123) 123-456</span>
							</div>
							<div class="clearfix"></div>
						</div>

						<input type="text" placeholder="Your Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
						<input type="text" placeholder="Your Phone">
						<textarea>I'm interested in this property and I'd like to know more details.</textarea>
						<button class="button fullwidth margin-top-5">Send Message</button>
					</div>
					<!-- Agent Widget / End -->

				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->

	</div>
</div>

{% endblock %}