{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}


<!-- Banner
================================================== -->
<div class="parallax" data-background="{% static 'images/family-house.jpg' %}" data-color="#36383e" data-color-opacity="0.75" data-img-width="2500" data-img-height="1600">
	<div class="parallax-content padding-top-105 padding-bottom-100">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>
						
						<div class="style-1 col-md-8 col-md-offset-2" style="border-radius:3px; background-color:#fff; padding:20px;">

							<!-- Tabs Navigation -->
							<ul class="tabs-nav">
								<li class="active"><a href="#tab1">To Rent</a></li>
								<li><a href="#tab2">For Sale</a></li>
							</ul>

							<!-- Tabs Content -->
							<div class="tabs-container" style="overflow:visible">
								<div class="tab-content" id="tab1">
									<!-- Main Search -->
									<form id="searchform" action="{% url 'listings:search' %}" method="get" accept-charset="utf-8" class="main-search-for">
										
										<!-- Type -->
										<div class="search-type hidden">
											<label class="active"><input class="first-tab" name="status" type="radio">Any Status</label>
											<label><input name="status" type="radio" value="For Rent">For Rent</label>
											<label><input name="status" type="radio" value="For Sale">For Sale</label>
											<div class="search-type-arrow"></div>
										</div>

										
										<!-- Box -->
										<div class="main-search-bo">
											
											<!-- Main Search Input -->
											<div class="main-search-input larger-input">
												<input type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value="" name="location" required />
												
												<button type="submit" class="button">Search</button>
											</div>

											<!-- Row -->
											<div class="row with-forms">
												<!-- Property Type -->
												<div class="col-md-3">
													<select name="listing_type" data-placeholder="Property" class="chosen-select-no-single" >
														<option></option>	
														<option>Apartments</option>
														<option>Houses</option>
														<option>Studios</option>
														<option>Commercial</option>
														<option>Lots</option>
													</select>
												</div>
												
												<!-- Bedrooms -->
												<div class="col-md-3">
													<select name="bedroom" data-placeholder="Any beds" class="chosen-select-no-single" >
														<option></option>
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
														<option>6</option>
													</select>
												</div>

												<!-- Min Price -->
												<div class="col-md-3">
													
												<!-- Select Input -->
												<div class="select-input disabled-first-option">
													<input name="min_price" type="text" placeholder="Min." data-unit="NGN">
													<select>
														<option>Max Price</option>
														<option>250 000</option>
														<option>500 000</option>
														<option>1 000 000</option>
														<option>2 000 000</option>	
														<option>3 000 000</option>	
														<option>4 000 000</option>	
														<option>5 000 000</option>	
														<option>6 000 000</option>	
														<option>7 000 000</option>	
														<option>8 000 000</option>	
														<option>9 000 000</option>
														<option>10 000 000</option>
														<option>15 000 000</option>
														<option>20 000 000</option>
														<option>30 000 000</option>
														<option>40 000 000</option>
														<option>50 000 000</option>
														<option>60 000 000</option>
														<option>70 000 000</option>
														<option>80 000 000</option>
														<option>90 000 000</option>
														<option>100 000 000</option>
														<option>150 000 000</option>
													</select>
												</div>
												<!-- Select Input / End -->

												</div>

												<!-- Max Price -->
												<div class="col-md-3">
													
												<!-- Select Input -->
												<div class="select-input disabled-first-option">
													<input name="max_price" type="text" placeholder="Max." data-unit="NGN">
													<select>		
														<option>Max Price</option>
														<option>250 000</option>
														<option>500 000</option>
														<option>1 000 000</option>
														<option>2 000 000</option>	
														<option>3 000 000</option>	
														<option>4 000 000</option>	
														<option>5 000 000</option>	
														<option>6 000 000</option>	
														<option>7 000 000</option>	
														<option>8 000 000</option>	
														<option>9 000 000</option>
														<option>10 000 000</option>
														<option>15 000 000</option>
														<option>20 000 000</option>
														<option>30 000 000</option>
														<option>40 000 000</option>
														<option>50 000 000</option>
														<option>60 000 000</option>
														<option>70 000 000</option>
														<option>80 000 000</option>
														<option>90 000 000</option>
														<option>100 000 000</option>
														<option>150 000 000</option>
													</select>
												</div>
												<!-- Select Input / End -->

												</div>

											</div>
											<!-- Row / End -->

										</div>
										<!-- Box / End -->

									<input type="hidden" name="status" value="For Rent">
									</form>
									<!-- Main Search -->
								</div>

								<div class="tab-content" id="tab2">
									<!-- Main Search -->
									<form id="searchform" action="{% url 'listings:search' %}" method="get" accept-charset="utf-8" class="main-search-for">
										
										<!-- Type -->
										<div class="search-type hidden">
											<label class="active"><input class="first-tab" name="status" type="radio">Any Status</label>
											<label><input name="status" type="radio" value="For Rent">For Rent</label>
											<label><input name="status" type="radio" value="For Sale">For Sale</label>
											<div class="search-type-arrow"></div>
										</div>

										
										<!-- Box -->
										<div class="main-search-bo">
											
											<!-- Main Search Input -->
											<div class="main-search-input larger-input">
												<input type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value="" name="location" required />
												
												<button type="submit" class="button">Search</button>
											</div>

											<!-- Row -->
											<div class="row with-forms">
												<!-- Property Type -->
												<div class="col-md-3">
													<select name="listingtype" data-placeholder="Property Type" class="chosen-select-no-single" >
														<option></option>	
														<option>Apartments</option>
														<option>Houses</option>
														<option>Studios</option>
														<option>Commercial</option>
														<option>Lots</option>
													</select>
												</div>
												
												<!-- Bedrooms -->
												<div class="col-md-3">
													<select name="bedroom" data-placeholder="Any beds" class="chosen-select-no-single" >
														<option></option>
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
												</div>

												<!-- Min Price -->
												<div class="col-md-3">
													
												<!-- Select Input -->
												<div class="select-input disabled-first-option">
													<input type="text" placeholder="Min." data-unit="NGN">
													<select>		
														<option>Min Price</option>
														<option>1 000</option>
														<option>2 000</option>	
														<option>3 000</option>	
														<option>4 000</option>	
														<option>5 000</option>	
														<option>10 000</option>	
														<option>15 000</option>	
														<option>20 000</option>	
														<option>30 000</option>
														<option>40 000</option>
														<option>50 000</option>
														<option>60 000</option>
														<option>70 000</option>
														<option>80 000</option>
														<option>90 000</option>
														<option>100 000</option>
														<option>110 000</option>
														<option>120 000</option>
														<option>130 000</option>
														<option>140 000</option>
														<option>150 000</option>
													</select>
												</div>
												<!-- Select Input / End -->

												</div>

												<!-- Max Price -->
												<div class="col-md-3">
													
												<!-- Select Input -->
												<div class="select-input disabled-first-option">
													<input type="text" placeholder="Max." data-unit="NGN">
													<select>		
														<option>Max Price</option>
														<option>1 000</option>
														<option>2 000</option>	
														<option>3 000</option>	
														<option>4 000</option>	
														<option>5 000</option>	
														<option>10 000</option>	
														<option>15 000</option>	
														<option>20 000</option>	
														<option>30 000</option>
														<option>40 000</option>
														<option>50 000</option>
														<option>60 000</option>
														<option>70 000</option>
														<option>80 000</option>
														<option>90 000</option>
														<option>100 000</option>
														<option>110 000</option>
														<option>120 000</option>
														<option>130 000</option>
														<option>140 000</option>
														<option>150 000</option>
													</select>
												</div>
												<!-- Select Input / End -->

												</div>

											</div>
											<!-- Row / End -->

										</div>
										<!-- Box / End -->

									<input type="hidden" name="status" value="For Sale">
									</form>
									<!-- Main Search -->
								</div>
							</div>

						</div>

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}