{% load static from staticfiles %}

<!doctype html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>{% block title %}Mogul | Find your dream home{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/green.css' %}" id="colors">

</head>

<body>
<!-- Wrapper -->
<div id="wrapper">


<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header-static">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo" class="sticky-log">
					<h2><a href="{% url 'home' %}">MOGUL</a></h2>
				</div>


				<!-- Mobile Navigation -->
				<div class="menu-responsive">
					<i class="fa fa-reorder menu-trigger"></i>
				</div>


				<!-- Main Navigation -->
				<nav id="navigation" class="style-3 col-md-offset-4">
					<ul id="responsive" class="padding-top-25">

						<li class="margin-right-40">
							<a href="{% url 'listings:rent' %}">FOR RENT</a>
						</li>

						<li class="margin-right-40">
							<a href="{% url 'listings:sale' %}">FOR SALE</a>
						</li>

						<li class=""><a href="#">COMMERCIAL</a></li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			
			
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

{% block content %}{% endblock %}

<!-- Footer
================================================== -->
<div id="footer" class="dark">
	<!-- Main -->
	<div class="container">
			
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2017 Mogul. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Scripts
================================================== -->
<script type="text/javascript" src="{% static 'scripts/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/rangeSlider.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/sticky-kit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.jpanelmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>

</div>
<!-- Wrapper / End -->

</body>
</html>